<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Photohawk : Pure Java image comparison" />

	<link rel="icon" type="image/png" href="{{ site.repository-path }}/images/photohawk-icon.png"><!-- Major Browsers -->
	<!--[if IE]><link rel="SHORTCUT ICON" href="{{ site.repository-path }}/favicon.ico"/><![endif]--><!-- Internet Explorer-->

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.repository-path }}/stylesheets/stylesheet.css">

    <title>Photohawk</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/datascience/photohawk">View on GitHub</a>

          <div id="org_logo">
            <a href="http://tuwien.ac.at/"><img id="tu_logo" src="{{ site.repository-path }}/images/tuwien.png" alt="TU Wien logo" class="logo"/></a>
            <a href="http://ifs.tuwien.ac.at/"><img id="tu_logo" src="{{ site.repository-path }}/images/ifs.png" alt="IFS logo" class="logo"/></a>
          </div>

          <a href="http://datascience.github.io/photohawk/"><img id="project_logo" src="{{ site.repository-path }}/images/photohawk.png" alt="Photohawk logo" class="logo"/></a>
          <h2 id="project_tagline">Pure Java image comparison</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/datascience/photohawk/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/datascience/photohawk/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Photohawk maintained by <a href="https://github.com/datascience">datascience</a></p>
      </footer>
    </div>

  </body>
</html>
